# A/B Test Challenge



---

#### What is an A/B Test? 

It is a decision making support & research methodology that allow you to measure an impact of a change in a product (e.g.: a digital product). For this challenge you will analyse the data resulting of an A/B test performed on a digital product where a new set of sponsored ads are included.


#### Measure of success

Metrics are needed to measure the success of your product. They are typically split in the following categories: 

- __Enganged based metrics:__ number of users, number of downloads, number of active users, user retention, etc.

- __Revenue and monetization metrics:__ ads and affiliate links, subscription-based, in-app purchases, etc.

- __Technical metrics:__ service level indicators (uptime of the app, downtime of the app, latency).

---

## Metrics understanding

In this part you must analyse the metrics involved in the test. We will focus in the following metrics:

- Activity level + Daily active users (DAU).

- Click-through rate (CTR)

### Activity level

In the following part you must perform every calculation you consider necessary in order to answer the following questions:

- How many activity levels you can find in the dataset (Activity level of zero means no activity).

- What is the amount of users for each activity level.

- How many activity levels do you have per day and how many records per each activity level.

At the end of this section you must provide your conclusions about the _activity level_ of the users.

__Dataset:__ `activity_pretest.csv`

In [2]:
# your-code

import pandas as pd
import numpy as np
from scipy import stats
from statsmodels.stats.weightstats import ztest
from scipy import stats

import seaborn as sns
import matplotlib.pylab as plt

In [32]:
activity_pretest = pd.read_csv('./abtest/activity_pretest.csv')
activity_pretest

                                       userid          dt  activity_level
0        a5b70ae7-f07c-4773-9df4-ce112bc9dc48  2021-10-01               0
1        d2646662-269f-49de-aab1-8776afced9a3  2021-10-01               0
2        c4d1cfa8-283d-49ad-a894-90aedc39c798  2021-10-01               0
3        6889f87f-5356-4904-a35a-6ea5020011db  2021-10-01               0
4        dbee604c-474a-4c9d-b013-508e5a0e3059  2021-10-01               0
...                                       ...         ...             ...
1859995  200d65e6-b1ce-4a47-8c2b-946db5c5a3a0  2021-10-31              20
1859996  535dafe4-de7c-4b56-acf6-aa94f21653bc  2021-10-31              20
1859997  0428ca3c-e666-4ef4-8588-3a2af904a123  2021-10-31              20
1859998  a8cd1579-44d4-48b3-b3d6-47ae5197dbc6  2021-10-31              20
1859999  bac5da9e-ef79-4ae9-9efe-cd6eca093db2  2021-10-31              20

[1860000 rows x 3 columns]

In [33]:
activity_pretest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1860000 entries, 0 to 1859999
Data columns (total 3 columns):
 #   Column          Dtype
---  ------          -----
 0   userid          object
 1   dt              object
 2   activity_level  int64
dtypes: int64(1), object(2)
memory usage: 42.6+ MB

In [36]:
activity_pretest['dt'] = pd.to_datetime(activity_pretest['dt'], format="%Y-%m-%d")
activity_pretest

                                       userid         dt  activity_level
0        a5b70ae7-f07c-4773-9df4-ce112bc9dc48 2021-10-01               0
1        d2646662-269f-49de-aab1-8776afced9a3 2021-10-01               0
2        c4d1cfa8-283d-49ad-a894-90aedc39c798 2021-10-01               0
3        6889f87f-5356-4904-a35a-6ea5020011db 2021-10-01               0
4        dbee604c-474a-4c9d-b013-508e5a0e3059 2021-10-01               0
...                                       ...        ...             ...
1859995  200d65e6-b1ce-4a47-8c2b-946db5c5a3a0 2021-10-31              20
1859996  535dafe4-de7c-4b56-acf6-aa94f21653bc 2021-10-31              20
1859997  0428ca3c-e666-4ef4-8588-3a2af904a123 2021-10-31              20
1859998  a8cd1579-44d4-48b3-b3d6-47ae5197dbc6 2021-10-31              20
1859999  bac5da9e-ef79-4ae9-9efe-cd6eca093db2 2021-10-31              20

[1860000 rows x 3 columns]

In [17]:
activity_level=activity_pretest['activity_level'].unique()
activity_level

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20])

In [19]:
users_activity= activity_pretest['userid'].unique()
users_activity

array(['a5b70ae7-f07c-4773-9df4-ce112bc9dc48',
       'd2646662-269f-49de-aab1-8776afced9a3',
       'c4d1cfa8-283d-49ad-a894-90aedc39c798', ...,
       'd53c8ed4-493e-4844-a3a5-b1b4361eb744',
       'e99b655f-1c41-444d-a0b6-615ee688a259',
       'ae570647-3b27-4e1d-9a01-f77b8636c592'], dtype=object)

In [9]:
activity_counts = activity_pretest.groupby('activity_level')['userid'].count()
activity_counts

activity_level
0     909125
1      48732
2      49074
3      48659
4      48556
5      49227
6      48901
7      48339
8      48396
9      48820
10     48943
11     48832
12     48911
13     48534
14     48620
15     48599
16     48934
17     48395
18     48982
19     48901
20     24520
Name: userid, dtype: int64

In [21]:
activity_day= activity_pretest.groupby(['dt'])[['activity_level']].nunique().reset_index()
activity_day

            dt  activity_level
0   2021-10-01              21
1   2021-10-02              21
2   2021-10-03              21
3   2021-10-04              21
4   2021-10-05              21
5   2021-10-06              21
6   2021-10-07              21
7   2021-10-08              21
8   2021-10-09              21
9   2021-10-10              21
10  2021-10-11              21
11  2021-10-12              21
12  2021-10-13              21
13  2021-10-14              21
14  2021-10-15              21
15  2021-10-16              21
16  2021-10-17              21
17  2021-10-18              21
18  2021-10-19              21
19  2021-10-20              21
20  2021-10-21              21
21  2021-10-22              21
22  2021-10-23              21
23  2021-10-24              21
24  2021-10-25              21
25  2021-10-26              21
26  2021-10-27              21
27  2021-10-28              21
28  2021-10-29              21
29  2021-10-30              21
30  2021-10-31              21

### Daily active users (DAU)

![ab_test](./img/user_activity_ab_testing.JPG)


The daily active users (DAU) refers to the amount of users that are active per day (activity level of zero means no activity). You must perform the calculation of this metric and provide your insights about it.

__Dataset:__ `activity_pretest.csv`

In [22]:
# your-code
daily_activity_users = activity_pretest[activity_pretest['activity_level']['dt']]
dau= daily_activity_users.groupby(['dt'])(['userid']).nunique().reset_index()
dau.columns = ['times','dau']
dau

KeyError: 'dt'

### Click-through rate (CTR)

![ab_test](./img/ad_click_through_rate_ab_testing.JPG)

Click-through rate (CTR) refers to the percentage of clicks that the user perform from the total amount ads showed to that user during a certain day. You must perform the analysis of this metric (e.g.: average CTR per day) and provide your insights about it.

__Dataset:__ `ctr_pretest.csv`

In [9]:
# your-code
ctr_pretest = pd.read_csv("./abtest/ctr_pretest.csv")

In [7]:
print(ctr_pretest.head())

                                 userid          dt    ctr
0  4b328144-df4b-47b1-a804-09834942dce0  2021-10-01  34.28
1  34ace777-5e9d-40b3-a859-4145d0c35c8d  2021-10-01  34.67
2  8028cccf-19c3-4c0e-b5b2-e707e15d2d83  2021-10-01  34.77
3  652b3c9c-5e29-4bf0-9373-924687b1567e  2021-10-01  35.42
4  45b57434-4666-4b57-9798-35489dc1092a  2021-10-01  35.04

In [8]:
print(ctr_pretest.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 950875 entries, 0 to 950874
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   userid  950875 non-null  object
 1   dt      950875 non-null  object
 2   ctr     950875 non-null  float64
dtypes: float64(1), object(2)
memory usage: 21.8+ MB
None

In [12]:
#ctr_pretest['CTR'] = ctr_pretest['ctr'] / ctr_pretest['userid'] * 100

---

## Pretest metrics 

In this section you will perform the analysis of the metrics using the dataset that includes the result for the test and control groups, but only for the pretest data (i.e.: prior to November 1st, 2021). You must provide insights about the metrics (__Activity level__, __DAU__ and __CTR__) and also perform an hyphotesis test in order to determine whether there is any statistical significant difference between the groups prior to the start of the experiment. You must try different approaches (i.e.: __z-test__ and __t-test__) and compare the results.


__Datasets:__ `activity_all.csv`, `ctr_all.csv`

In [ ]:
# your-code
ctr_all

---

## Experiment metrics 

In this section you must perform the same analysis as in the previous section, but using the data generated during the experiment (i.e.: after November 1st, 2021). You must provide insights about the metrics (__Activity level__, __DAU__ and __CTR__) and also perform an hyphotesis test in order to determine whether there is any statistical significant difference between the groups during the experiment. You must try different approaches (i.e.: __z-test__ and __t-test__) and compare the results.


__Datasets:__ `activity_all.csv`, `ctr_all.csv`

In [7]:
# your-code

---

## Conclusions

Please provide your conclusions after the analyses and your recommendation whether we may or may not implement the changes in the digital product.

In [8]:
# your-conclusions

---